<h3>{{model.JSON.title}}</h3>

<img src="" alt="" />

<ul>
  {{#each review in model.reviews}}
    <li>
      {{review.rating}}
      {{review.title}}
      by {{review.author}}
      {{review.body}}
    </li>
  {{/each}}
</ul>

{{#link-to 'album.new-review'}}Review this album{{/link-to}}

{{outlet}}
